.fkdjytq0z10pkcimvgg2xf3q0jpg-icon1 {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.xvq22ho5urja40fbslgzxjwmapng-icon1 {
  height: 120px;
  width: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
}
.vector-icon {
  height: 5.6px;
  width: 44.5px;
  position: absolute;
  margin: 0 !important;
  right: -6.5px;
  bottom: 24.4px;
  object-fit: contain;
  z-index: 1;
}
.frame-wrapper2,
.xvq22ho5urja40fbslgzxjwmapng-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.xvq22ho5urja40fbslgzxjwmapng-group {
  flex-direction: row;
  position: relative;
}
.frame-wrapper2 {
  margin-left: -151.5px;
  flex-direction: column;
  padding: 0 11px 0 0;
}
.olytuxqtpzi5x0j9jbbgcytfopng-icon1,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon1 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  top: -62.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon1 {
  right: -20.5px;
}
.olytuxqtpzi5x0j9jbbgcytfopng-icon1 {
  left: -31.5px;
}
.join-airblack,
.why-should-you {
  margin: 0;
}
.why-should-you-container {
  margin: 0;
  width: 188px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.frame-wrapper3,
.zmxqwkfbejrqapbt6wdbyw9c77apn-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-group {
  flex-direction: row;
  position: relative;
}
.frame-wrapper3 {
  flex-direction: column;
  padding: 62.8px 0 0;
}
.nus134xofhur4fscnynn0hazwuejp-icon1 {
  height: 120px;
  width: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.vector-icon1 {
  height: 5.6px;
  width: 44.5px;
  position: absolute;
  margin: 0 !important;
  bottom: 24.4px;
  left: 4.5px;
  z-index: 1;
}
.nus134xofhur4fscnynn0hazwuejp-group {
  flex-direction: row;
  position: relative;
}
.frame-parent3,
.frame-wrapper4,
.nus134xofhur4fscnynn0hazwuejp-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  width: 73px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 93px;
  gap: 20.5px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon1 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 62px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.nwplmeuuorxeizilywivinmrdsmpn-icon1 {
  top: 0.20000000000004547px;
  right: 49px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon1,
.nwplmeuuorxeizilywivinmrdsmpn-icon1,
.roobvkysvltma83f4b1idfc2spng-icon1 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.roobvkysvltma83f4b1idfc2spng-icon1 {
  top: 0.20000000000004547px;
  right: -71px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon1 {
  right: 49px;
  bottom: 0;
}
.nxkofntfy9ikxcpxptowzhq5cdupn-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon1 {
  height: 120px;
  width: 120px;
  position: absolute;
  margin: 0 !important;
  top: 0.20000000000004547px;
  left: 62px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.nxkofntfy9ikxcpxptowzhq5cdupn-icon1 {
  top: -34.8px;
  left: -82px;
}
.empty-list-icon {
  height: 34.1px;
  width: 34.1px;
  position: relative;
  object-fit: cover;
}
.empty-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 35px 0 34px;
}
.do-it-together-live-on {
  align-self: stretch;
  position: relative;
}
.frame-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 78px;
}
.frame-parent5,
.nxkofntfy9ikxcpxptowzhq5cdupn-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  width: 327px;
  flex-wrap: wrap;
  gap: 11px;
  z-index: 1;
}
.nxkofntfy9ikxcpxptowzhq5cdupn-parent {
  position: relative;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon1 {
  margin-left: -82px;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.frame-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 24px;
  box-sizing: border-box;
  gap: 9.1px;
  max-width: 100%;
}
.apply-now {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: "Open Sans";
  color: #fafafa;
  text-align: center;
  display: inline-block;
  min-width: 70px;
}
.divframer-923v64,
.p4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p4 {
  align-items: center;
  padding: 0.1px 0 0.9px;
}
.divframer-923v64 {
  align-items: flex-start;
}
.divframer-zlvey91 {
  cursor: pointer;
  border: 0;
  padding: 9px 20px;
  background-color: transparent;
  width: 327px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 61.1px;
  border-radius: 4px;
  background: linear-gradient(90.32deg, #f56563, #e54988);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.brdpcuqjd3f8gbyuk0xrimiepng-parent {
  width: 351px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  margin-top: -35px;
  padding-top: 35px;
  font-size: 14px;
  color: #fff;
}
.divframer-145h7r41,
.image1,
.section {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.divframer-145h7r41 {
  margin-left: -65px;
  width: 490px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 57px 0 58px;
  position: relative;
  gap: 32px;
  opacity: 0.2;
  debug_commit: bf4bc93;
  max-width: 137%;
}
.image1,
.section {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.image1 {
  margin-bottom: -31.5px;
  width: 360px;
  background-color: #000;
  padding: 0 0 0.4px;
}
.section {
  height: 296.1px;
  background: linear-gradient(#050505, #050505), #f5f5f5;
  padding: 0 7px;
  text-align: center;
  font-size: 24px;
  color: #f5f5f5;
  font-family: "Open Sans";
}
