.nxkofntfy9ikxcpxptowzhq5cdupn-icon2,
.roobvkysvltma83f4b1idfc2spng-icon2 {
  width: 125px;
  height: 125px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 62.5px);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.nxkofntfy9ikxcpxptowzhq5cdupn-icon2 {
  left: 0;
}
.roobvkysvltma83f4b1idfc2spng-icon2 {
  right: 10.4px;
}
.xvq22ho5urja40fbslgzxjwmapng-icon2 {
  width: 125px;
  height: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
}
.xvq22ho5urja40fbslgzxjwmapng-wrapper {
  margin-left: -157.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 0;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon2 {
  top: -83.6px;
  right: -22.3px;
}
.nwplmeuuorxeizilywivinmrdsmpn-icon2,
.olytuxqtpzi5x0j9jbbgcytfopng-icon2,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon2 {
  height: 125px;
  width: 125px;
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.olytuxqtpzi5x0j9jbbgcytfopng-icon2 {
  top: -83.6px;
  left: -32.7px;
  z-index: 1;
}
.nwplmeuuorxeizilywivinmrdsmpn-icon2 {
  right: -22.3px;
  bottom: -76.4px;
}
.community-of,
.join-our-growing {
  margin: 0;
}
.alumni1,
.span {
  font-family: "Open Sans";
}
.alumni {
  margin: 0;
}
.join-our-growing-container {
  margin: 0;
  width: 195px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  display: inline-block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
  font-family: inherit;
}
.frame-wrapper5,
.zmxqwkfbejrqapbt6wdbyw9c77apn-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-container {
  flex-direction: row;
  position: relative;
}
.frame-wrapper5 {
  flex-direction: column;
  padding: 83.6px 0 0;
}
.nus134xofhur4fscnynn0hazwuejp-icon2 {
  height: 125px;
  width: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
}
.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 90px;
  gap: 22.3px;
}
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon2 {
  height: 125px;
  width: 125px;
  position: absolute;
  margin: 0 !important;
  top: -73.3px;
  left: 18.2px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.apply-now1 {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: "Open Sans";
  color: #fafafa;
  text-align: center;
  display: inline-block;
  min-width: 70px;
}
.apply-now-button-container,
.p5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p5 {
  align-items: center;
  padding: 0.1px 0 0.9px;
}
.apply-now-button-container {
  align-items: flex-start;
}
.divframer-zlvey92 {
  cursor: pointer;
  border: 0;
  padding: 9px 20px;
  background-color: transparent;
  flex: 1;
  border-radius: 4px;
  background: linear-gradient(90.32deg, #f56563, #e54988);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.apply-button-container,
.apply-button-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.apply-button-content {
  flex: 1;
  position: relative;
}
.apply-button-container {
  align-self: stretch;
  padding: 0 39px;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon2 {
  margin-left: -125px;
  height: 125px;
  width: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
  z-index: 2;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon2 {
  height: 125px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -20.3px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.instagram-icon {
  height: 34px;
  width: 34px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 34px;
  z-index: 1;
}
.image-487-icon {
  height: 33px;
  width: 33px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.social-pair {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.3px 3px 62.4px 37px;
  position: relative;
  gap: 17.3px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon2 {
  height: 125px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -20.3px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.linkedin-icon {
  height: 34px;
  width: 34px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 34px;
  z-index: 1;
}
.image-488-icon {
  height: 33px;
  width: 33px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.social-links,
.social-pair1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-pair1 {
  flex: 1;
  padding: 8.3px 13px 62.4px;
  position: relative;
  gap: 17.3px;
}
.social-links {
  width: 260.4px;
  padding: 0 10px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon2 {
  height: 125px;
  width: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
}
.apply-button-container-parent,
.bijgdu7wrx4u7qhuhojdtr06lmpng-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-parent {
  height: 104.7px;
  flex-direction: row;
  padding: 0 57px;
  box-sizing: border-box;
}
.apply-button-container-parent {
  flex-direction: column;
  gap: 15.7px;
}
.footer,
.footer-divider,
.image2 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.footer-divider {
  margin-left: -67.69999999999999px;
  width: 510.4px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 67px 20.3px;
  box-sizing: border-box;
  position: relative;
  gap: 24.7px;
  opacity: 0.2;
  debug_commit: bf4bc93;
  max-width: 137%;
}
.footer,
.image2 {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.image2 {
  margin-bottom: -20.700000000000045px;
  width: 375px;
  background-color: #000;
  padding: 0 0 0.4px;
  box-sizing: border-box;
}
.footer {
  height: 332.8px;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: "Open Sans";
}
