.frame-child {
  height: 34.1px;
  width: 34.1px;
  position: relative;
}
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 35px 0 34px;
}
.p3,
.rated-classes1 {
  margin: 0;
}
.rated-classes {
  align-self: stretch;
  position: relative;
}
.frame-parent2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 78px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
}
