.olytuxqtpzi5x0j9jbbgcytfopng-icon {
  width: 125px;
  height: 125px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 125px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.xvq22ho5urja40fbslgzxjwmapng-icon {
  z-index: 1;
}
.nxkofntfy9ikxcpxptowzhq5cdupn-icon,
.xvq22ho5urja40fbslgzxjwmapng-icon {
  width: 125px;
  height: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.xvq22ho5urja40fbslgzxjwmapng-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.airblack-beauty-club-logo {
  align-self: stretch;
  height: 28.4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon {
  height: 125px;
  width: 125px;
  position: absolute;
  margin: 0 !important;
  top: -76.8px;
  right: -85.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.presents {
  text-decoration: none;
  position: relative;
  letter-spacing: 2.23px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 66.1px;
  z-index: 4;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.airblack-beauty-club-logo-parent {
  width: 68.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.nwplmeuuorxeizilywivinmrdsmpn-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -125px;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon {
  height: 125px;
  width: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 3;
}
.frame-wrapper,
.nwplmeuuorxeizilywivinmrdsmpn-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nwplmeuuorxeizilywivinmrdsmpn-parent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 39px 0 0;
}
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  gap: 36.2px;
}
.frame-group {
  margin-left: -375px;
  width: 289.6px;
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.nus134xofhur4fscnynn0hazwuejp-icon,
.roobvkysvltma83f4b1idfc2spng-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  overflow: hidden;
  object-fit: cover;
}
.roobvkysvltma83f4b1idfc2spng-icon {
  top: 125px;
  z-index: 1;
}
.nus134xofhur4fscnynn0hazwuejp-parent {
  height: 250px;
  width: 125px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 154px 0 307px;
  gap: 85.4px;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 317.7px;
  max-height: 100%;
  width: 125px;
  overflow: hidden;
  object-fit: cover;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon,
.brdpcuqjd3f8gbyuk0xrimiepng-icon,
.igiz71nklzdzeqhhjjj6zzflbgpng-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 57.3px;
  max-height: 100%;
  width: 125px;
  overflow: hidden;
  object-fit: cover;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon,
.igiz71nklzdzeqhhjjj6zzflbgpng-icon {
  left: 182.3px;
  z-index: 1;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon {
  left: -67.7px;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-parent {
  align-self: stretch;
  height: 125px;
  position: relative;
}
.divframer-145h7r4,
.image {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-145h7r4 {
  margin-left: -67.69999999999999px;
  width: 510.4px;
  flex-direction: column;
  padding: 0.4px 67px 0;
  box-sizing: border-box;
  position: relative;
  opacity: 0.2;
  debug_commit: bf4bc93;
  max-width: 137%;
}
.image {
  align-self: stretch;
  height: 124px;
  background-color: #000;
  overflow: hidden;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-size: 10px;
  color: #fff;
  font-family: Inter;
}
